<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.storyous.contacts">

    <application>

        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.nongmsauth.internal.RestAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
    </application>
</manifest>
